body{
    background-color: rgb(83, 145, 182);
}
.heading{
    font-size: 70px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}
@media screen and (max-width: 800px) {
    .heading{
        font-size: 40px;
        text-align: center;
    }
    .heading1{
        font-size: 30px !important;
        text-align: center;
    }
    .line{
        display: none;
    }
    .linebranch{
        display: none;
    }
    .linecol{
        display: none;
    }
    .smallsc{
        margin-left: 25%;
    }
    .section1{
        background-color: rgb(92, 160, 182);
    }
    .section2{
        background-color: rgb(83, 145, 182);
    }   
    .section3{
        background-color: rgb(92, 160, 182);
    }
    .section4{
        background-color: rgb(83, 145, 182)
    }
    .section5{
        background-color: rgb(92, 160, 182);
    }
    .section6{
        background-color: rgb(83, 145, 182);
    }
    .section7{
        background-color: rgb(92, 160, 182);
    }
}
.heading1{
    font-size: 50px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}
.content{
    font-family: 'Sriracha', cursive;
    text-align: center;
}
.tb{
    border: 2px solid red;
}
.line{
    height: 260px;
    width: 20px;
    background-color: brown;
    margin-left: 50%;
}
.dashLine{
    border-top: 10px dashed red;
}
.branch1{
    height: 150px;
    width: 20px;
    background-color: brown;
    margin-left: 50%;
}
.branch2{
    height: 150px;
    width: 20px;
    background-color: brown;
    margin-left: 55%;
}
.branch3{
    height: 150px;
    width: 20px;
    background-color: brown;
    margin-left: 43%;
}
.linebranch{
    height: 280px;
    width: 20px;
    background-color: brown;
    margin-left: 50%;
}
.linecol{
    width: 100%;
}
.branchcontent1{
    text-align: center;
}
.branchcontent2{
    text-align: center;
}
.brachlast{
    margin-left: 20%;
    font-family: 'Sriracha', cursive;
}

.col-md-5{
    text-align: center;
}
.col-md-6{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}