body{
    background-color: #f1f1f1;
}

.levelblocks{
    border-collapse: separate;
    border-spacing: 25px;
    margin: auto;
}
.levelblock{
    border-radius: 10px;
    background-color: rgb(240, 106, 106);
    width: 100px;
    height: 100px;
}


