@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
body{
    background-image: url("../images/Dark-Space-Wallpapers-HD.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Serif', serif !important;
    color: antiquewhite;    
}
#heading{
    border-radius: 10px;
    border: 10px solid red !important;
}

.collapse{
    width: 100%;
}

input{
    width: 150px !important;
}

canvas{
    color: aliceblue;
}
@keyframes rot {
        from {
            transform: rotate(0deg)
                    translate(-100px)
                    rotate(0deg);
        }
        to {
            transform: rotate(360deg)
                    translate(-100px) 
                    rotate(-360deg);
        }
    }
    @keyframes rot1 {
        from {
            transform: rotate(0deg)
                    translate(-200px)
                    rotate(0deg);
        }
        to {
            transform: rotate(360deg)
                    translate(-200px) 
                    rotate(-360deg);
        }
    }
.smile {
	width: 40px;
	height: 40px;
	position: absolute;
    top:120px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	font-size: 100px;
	animation: rot 4s infinite linear;
}
.smile1 {
	width: 40px;
	height: 40px;
	position: absolute;
    top:120px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	font-size: 100px;
	animation: rot1 10s infinite linear;
}
.content{
        width: 100px;
        height: 100px;
        position: absolute;
        top:120px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: aliceblue;
    }
img{
    width: 100%;
    height: 100%;
}
    
.heading{
    text-align: center;    
}
.output{
    text-align: center;
    margin-top: 90%;
}
.rocketTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(224, 209, 209);
    height: 100px;
    border-radius: 23px;
    box-shadow:5px 1px 3px 5px #a7a49d; 
    }
select{
    border-radius: 10px;
    background-color: rgba(59, 61, 68, 0.2);
    color: rgb(207, 203, 203);
    font-size:large !important;
    width:150px ;
}
option{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(207, 203, 203);
    font-size:large !important;
}
.mycanvas{
    position: absolute;
    top:120px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
