@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
body{
    background-image:url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Serif', serif !important;    
}
.rocketTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(224, 209, 209);
    height: 100px;
   
    border-radius: 23px;
    box-shadow:5px 1px 3px 5px #383220; 
    

}
.outputDiv{
    height: 370px;
}

.outputImg{
    height: 100%;
}



table{
    height: 450px;
    
}
thead{
    color: rgb(224, 17, 17);
    font-size: x-large !important;
}
select{
    width: 200px;
    background-color: rgba(151, 160, 196, 0.4);
    color: rgb(0, 0, 0);
    font-size:large !important;
    
}
select option{
  color: rgb(0, 0, 0);
  opacity:.40;
  background-color: rgb(79, 196, 196);
}
.title{
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.inputSelect{
    width: 350px;
}

.displayArea{
    width: 250px;
    color: #F0FFFF;
}
.outputArea{
    width: 350px;
}
.addRed{
   border: solid red; 
}